/* Write your code here. */
.emojicard-app {
    background-color: #ffffff33;
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    height: 170px;
    width: 170px;

}

.emoji-image {
    padding: 10px;
}

